@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  max-width: 1920px;
  margin-inline: auto;

  background-color: #4e4e4e;

  /* display: flex; */
  /* flex-direction: column; */
}