header {
  display: flex;
  flex-direction: column;

  background-image: url(../assets/star_uó_topo.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  
  height: 43.5vw;
  max-height: 835px;

  /* overflow: auto; */
  position: relative;
}

header h1 {
  display: flex;
  justify-content: center;
  gap: 24.4%;

  /* margin-top: min(23.65vw, 454px); */
  padding-left: 10%;
  margin-top: 23.65%;
  height: 14%;
}

header p {
  display: flex;
  flex-direction: row-reverse;

  margin-top: 3.75%;
  padding-inline-end: 11.65%;
  height: 21.2%;
}

header figure {
  position: absolute;
  left: 10%;
  width: 70.47% ;
}

header figure img {
  width: 100%;
}



/*  ----- Mobile Size   375 × 667 ----- */